{:deps
 {org.clojure/clojure {:mvn/version "1.11.3"}
  clj-time/clj-time   {:mvn/version "0.15.2"}
  com.walmartlabs/lacinia {:mvn/version "1.2.2"}
  com.walmartlabs/lacinia-pedestal {:mvn/version "1.2"}
  instaparse/instaparse {:mvn/version "1.4.14"}}}
